.signup__form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.signup__input {
  width: 100%;
  margin: 15px 0 !important;
  padding: 20px;
}
@media (max-width: 568px) {
  .signup__form {
    width: 80%;
  }
}
